<div class="container align-center profile">
  <img
    class="profile-pic"
    src="<%= currentUser.profilePicUrl %>"
    width="200px"
    height="200px"
    alt=""
  />
  <br /><br />
  <h2><%= currentUser.username %></h2>
  <div><%= currentUser.bio %></div>

  <div class="row">
    <div class="col m4">
      <a href="/<%= currentUser.id %>/likes"><h3>Likes</h3></a>
    </div>
    <div class="col m4">
      <a href="/<%= currentUser.id %>/artists"><h3>Artists</h3></a>
    </div>
    <div class="col m4">
      <a href="/<%= currentUser.id %>/albums"><h3>Albums</h3></a>
    </div>
  </div>

  <h1>Search Music</h1>
  <p>Search for a song, artist, or album below...</p>
  <br />
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img
            src="/imgs/alex-holyoake-meGGiZtq-hw-unsplash (1).jpg"
            alt="artist image"
          />
        </div>
        <div class="card-content center-align">
          <span class="card-title">Search Tracks</span>
          <form method="GET" action="search/song-search">
            <input type="text" name="userInput" />
            <br /><br />
            <input class="btn" type="submit" value="Get Songs!" />
          </form>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="/imgs/natalie-cardona-W8BRzoUTHNA-unsplash.jpg" />
        </div>
        <div class="card-content center-align">
          <span class="card-title">Search Albums</span>
          <form method="GET" action="search/album-search">
            <input type="text" name="userInput" />
            <br /><br />
            <input class="btn" type="submit" value="Get Albums!" />
          </form>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="/imgs/joel-muniz-bJ2Dm9ZyeIY-unsplash.jpg" />
        </div>
        <div class="card-content center-align">
          <span class="card-title">Search Artists</span>
          <form method="GET" action="search/artist-search">
            <input type="text" name="userInput" />
            <br /><br />
            <input class="btn" type="submit" value="Get Artists!" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
