<div class="row">
  <ul>
    <% albumData.forEach((album, index) => { %>
    <li>
      <div class="col m4">
        <div class="card">
          <div class="card-image">
            <!-- <img src="" /> -->
            <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"
              ><i class="material-icons">add</i></a
            > -->
          </div>
          <div class="card-content">
            <span class="card-title"><%= album.name %></span>
            <p>
              Artist: <%= album.artists[0].name %><br />
              Release Date: <%=album.release_date %><br />
              Tracks: <%= album.total_tracks %><br />
              <br />
            </p>
            <form action="/albums" method="POST">
              <input
                type="text"
                class="hide"
                value="<%= album.name %>"
                name="albumName"
              />
              <input
                type="text"
                class="hide"
                value="<%= album.artists[0].name %>"
                name="albumArtist"
              />
              <input
                type="text"
                class="hide"
                value="<%= album.release_date %>"
                name="releaseDate"
              />
              <input
                type="text"
                class="hide"
                value="<%= album.total_tracks %>"
                name="tracks"
              />
              <input
                type="text"
                class="hide"
                value="<%= album.id %>"
                name="albumId"
              />
              <input
                type="text"
                class="hide"
                value="<%= currentUser.id %>"
                name="userId"
              />
              <button type="submit" class="btn">
                <span class="add-btn">Add to likes</span>
                <i class="material-icons">thumb_up</i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </li>

    <br />
    <% }) %>
  </ul>
</div>
